{% set route = app.request.get('_route') %}


<nav class="navbar navbar-expand navbar-dark bg-primary fw-bold  py-0">
    <div class="collapse navbar-collapse">

        <div class="navbar-nav justify-content-between align-items-center flex-grow-1 ">
            <a class="nav-link p-3 text-uppercase text-white{{ route == 'Pages:user.homepage' ? ' active' }}"
               href="{{ path('Pages:user.homepage') }}">Главная</a>

            {# <a class="nav-link rounded-3 px-3 text-white{{ route == 'Pages:user.catalog.category' ? ' active'  }}" href="{{ path('Pages:user.catalog.category') }}">Продукция</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'Pages:user.about' ? ' active'  }}" href="{{ path('Pages:user.about') }}">О компании</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'Delivery:user.delivery' ? ' active' }}" href="{{ path('Delivery:user.delivery') }}">доставка</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'Pages:user.wholesale' ? ' active' }}" href="{{ path('Pages:user.wholesale') }}">Опт</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'Pages:user.guaranty' ? ' active' }}" href="{{ path('Pages:user.guaranty') }}">Гарантия</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'Pages:user.calc' ? ' active'  }}" href="{{ path('Pages:user.calc') }}">Шинный калькулятор</a> #}

            {% for item in data %}

                <div class="dropdown">

                    {% set arr_path = item.path|json_decode|sort %}
                    {% set arr_path_filter = arr_path|filter(v => v.dropdown == true and (is_granted(v.role) or is_granted('ROLE_ADMIN'))) %}

                    {% if arr_path_filter|length %}

                        <div class="nav-link p-3 text-white dropdown-toggle" type="button"
                             data-bs-toggle="dropdown"
                             aria-expanded="false">
                            {{ item.name }}
                        </div>

                        <ul class="dropdown-menu p-2 small dropdown-menu-center">
                            {% for path in arr_path_filter %}
                                <li>
                                    <a class="nav-link rounded-3 px-2 small text-nowrap mb-1 {{ route == path.href ? ' active' }} {{ path.modal ? 'modal-link' }}"
                                       href="{{ path(path.href) }}"
                                            {% if path.modal %}
                                                data-bs-toggle="modal"
                                                data-bs-target="#modal"
                                            {% endif %}
                                    >
                                        {{ path.name }}
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>

                    {% endif %}

                </div>

            {% endfor %}

            <div class="flex-grow-1 d-flex justify-content-end align-items-center">

                {% if baks_profile is defined %}

                    <button

                            class="btn btn-link btn-sm text-decoration-none"
                            id="user-menu"

                            data-bs-container="body"
                            data-bs-toggle="popover"
                            data-bs-placement="bottom"
                            data-bs-trigger_="onfocus"
                            data-bs-trigger="click"
                            {# data-bs-content="Bottom popover" #}
                            style="width: 50px;"
                    >

        <span class="icon rounded-circle bg-contain lazy p-1"
              style="width: 30px; height: 30px;"
              data-bg="{{ baks_profile.user_profile_avatar is defined ? baks_profile.user_profile_avatar : '/assets/img/blank.svg' }}"
        ></span>

                        {# <span class="small text-dark" style="width: 100px;">Личный кабинет</span> #}

                    </button>


                    {# title: function() {
return $('.select_box').html();
}, #}


                    <div id="user-menu-title" class="d-none">


                        <div class="dropdown">


                            <a class="btn btn- w-100 text-dark text-decoration-none" href="#"
                               role="button" data-bs-toggle="dropdown"
                               aria-expanded="false"
                            >
                                <div class="w-100 float-start text-start">
                                    {{ baks_profile.user_profile_username is defined ? baks_profile.user_profile_username }}

                                    {# Тип профиля пользователя #}
                                    {% if baks_profile.user_profile_type is defined %}
                                        <span class="badge bg-light text-dark fw-bolder px-2 py-1">
                            {{ baks_profile.user_profile_type }}
                        </span>
                                    {% endif %}

                                    {% if baks_profile.user_profile_contact is defined %}
                                        <div class="text-muted small">
                                            {{ baks_profile.user_profile_contact }}
                                        </div>
                                    {% endif %}

                                </div>

                            </a>

                        </div>


                        {% if app.user.administration %}
                            <ul class="leader list-group list-group-flush w-100 small">
                                <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 text-truncate rounded-5">
                                    <a href="{{ path('AuthEmail:user.edit') }}"
                                       class="text-decoration-none text-dark w-100"
                                       title="{{ 'user.page.edit'|trans({}, 'user.account') }}">
                                        {{ 'user.page.edit'|trans({}, 'user.account') }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 text-truncate rounded-5">
                                    <a class="text-decoration-none text-dark w-100"
                                       href="{{ path('UserProfile:user.index') }}">
                                        Профили
                                    </a>
                                </li>
                            </ul>
                        {% endif %}

                    </div>


                    <div id="user-menu-content" class="d-none">


                        {# {% if baks_profile %}

        <div class="menu-content d-flex align-items-center px-3 mb-3">


            <div class="d-flex flex-column">
                <div class="fw-bolder d-flex align-items-center">


                    {% if baks_profile.user_profile_event is defined %}
                        <a href="{{ path('UserProfile:user.newedit.edit', { id : baks_profile.user_profile_event }) }}"
                           class="text-dark text-decoration-none">
                            {{ baks_profile.username }}
                        </a>
                    {% else %}
                        <a href="{{ path('UserProfile:user.index') }}" class="text-dark text-decoration-none">
                            {{ baks_profile.user_email }}
                        </a>
                    {% endif %}
                        #}{# Тип профиля пользователя #}{#
                        {% if baks_profile.profile_type is defined %}
                            <span class="badge bg-light text-dark fw-bolder fs-8 px-2 py-1 ms-2">
                                    {{ baks_profile.profile_type }}
                                </span>
                        {% endif %}

                    </div>
                    <span class="text-muted small">
                        {{ baks_profile.email }}
                    </span>


                    </div>
                    <!--end::Username-->


                    </div>

                    {% endif %} #}

                        <ul class="leader list-group list-group-flush w-100">


                            {# <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="/detail" class="text-decoration-none text-dark w-100"
                    title="Избранные товары">
                Избранные товары</a>

            <span class="badge bg-primary rounded-pill lh-normal">5</span>
        </li> #}

                            {# <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="/detail" class="text-decoration-none text-dark w-100"
                    title="Просмотренные">
                Просмотренные</a>

            <span class="badge bg-primary rounded-pill lh-normal">7</span>
        </li> #}

                            {# ******************************* #}
                            {# <li class="list-group">
            <hr>
        </li> #}


                            {# <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="/detail" class="text-decoration-none text-dark w-100"
                    title="История покупок">
                История покупок</a>
        </li> #}

                            {# <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="/detail" class="text-decoration-none text-dark w-100"
                    title="Отзывы">
                Отзывы</a>
        </li> #}


                            {# ******************************* #}
                            {# <li class="list-group">
            <hr>
        </li> #}


                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                                    <a class="text-decoration-none text-dark w-100"
                                       href="{{ app.request.pathInfo }}?authority=_exit">
                                        Выйти из пользователя
                                    </a>
                                </li>
                            {% endif %}

                            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                                <a href="{{ path('AuthEmail:user.logout') }}"
                                   class="text-decoration-none text-dark w-100"
                                   title="Выход">
                                    Выход</a>
                            </li>

                            {# <li class="list-group-item d-flex justify-content-between align-items-center">
                                    A list item
                                    <span class="badge bg-primary rounded-pill">14</span>
                                </li> #}

                        </ul>
                    </div>

                {% endif %}

                {#                {{ dump(baks_profile) }} #}



                {% if baks_profile is defined %}




                    <div class="dropdown" style="min-width: 150px;">


                        <div class="nav-link p-3 text-white dropdown-toggle" type="button"
                             data-bs-toggle="dropdown"
                             aria-expanded="false">
                            {{ baks_profile.user_profile_username ?? null }}
                        </div>

                        <ul class="dropdown-menu p-2 small dropdown-menu-center leader ">

                            {% for link in authority %}

                                {% if baks_profile.id is defined and baks_profile.id == link.authority %}
                                    {# <a href='{{ path('Pages:user.homepage', {'authority' : '_exit' }) }}'
                                       class="text-decoration-none text-muted small">
                                        <div class="w-100">{{ link.profile_username }}</div>
                                    </a> #}
                                {% else %}
                                    <li class="p-1 w-100 list-group-item rounded-5">
                                        <a href='{{ path('Pages:user.homepage', {'authority' : link.authority }) }}'
                                           class="d-block text-decoration-none text-muted w-100 px-1">
                                            {{ link.authority_username }}
                                        </a>
                                    </li>
                                {% endif %}

                                {# {% if link.authority %} #}

                                {# {% else %}
                                    <a href='{{ path('Pages:user.homepage', {'authority' : link.profile }) }}'
                                       class="text-decoration-none {{   link.active ? '' : 'text-muted small' }}">
                                        {{  link.profile_username }}
                                    </a>
                                {% endif %} #}

                            {% endfor %}


                            {% if baks_profile.user_profile_profiles is defined %}
                                {% for profil in baks_profile.user_profile_profiles %}
                                    {% if baks_profile and baks_profile.user_profile_username != profil.user_profile_username %}
                                        <li class="p-1 w-100 list-group-item rounded-5">

                                            <a href='{{ path(app.current_route, {'authority' : profil.user_profile_id }|merge(app.current_route_parameters)) }}'
                                               class="d-block text-decoration-none text-muted w-100 px-1">
                                                {{ profil.user_profile_username }}
                                            </a>

                                            {# <a class="nav-link rounded-3 px-2 small text-nowrap mb-1"
                                               href="{{ path('UserProfile:user.activate', { id: profil.user_profile_event }) }}">
                                                {{ profil.user_profile_username }}
                                            </a> #}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </ul>

                    </div>


                {% endif %}

                {# <div class="d-flex align-items-center position-relative">
                    <div class="w-100">

                        <input type="search" class="form-control" id="myInput" placeholder="Поиск раздела...">

                        <ul id="section-searcher" class="dropdown-menu p-2 small dropdown-menu-center w-100">
                            {% for item in data %}
                                {% set arr_path = item.path|json_decode %}

                                {% set arr_path_filter = arr_path|filter(v => (is_granted(v.role) or is_granted('ROLE_ADMIN'))) %}

                                {% for path in arr_path %}

                                    <li>
                                        <a class="nav-link rounded-3 px-2 small text-nowrap mb-1 {{ path.modal ? 'modal-link' }}"
                                           href="{{ path(path.href) }}"
                                                {% if path.modal %}
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modal"
                                                {% endif %}
                                        >
                                            {{ path.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>


                        <script nonce="{{ csp_nonce() }}">

                            document.getElementById('myInput').addEventListener('keyup', myFunction);

                            function myFunction() {

                                var input, filter, ul, li, a, i, txtValue;

                                input = document.getElementById('myInput');
                                filter = input.value.toUpperCase();

                                ul = document.getElementById("section-searcher");
                                li = ul.getElementsByTagName('li');

                                $counter = 0;
                                for (i = 0; i < li.length; i++) {

                                    a = li[i].getElementsByTagName("a")[0];
                                    txtValue = a.textContent || a.innerText;

                                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        li[i].style.display = "";
                                        $counter++;
                                    } else {
                                        li[i].style.display = "none";
                                    }
                                }

                                if (filter.length < 3 || $counter === 0) {
                                    ul.classList.remove('show');
                                } else {
                                    ul.classList.add('show');
                                }
                            }
                        </script>

                    </div>

                    <button class="btn position-absolute top-0 end-0" type="submit" aria-label="Поиск по каталогу">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search text-secondary" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                    </button>
                </div> #}

            </div>
        </div>
    </div>
</nav>



