{% set route = app.request.get('_route') %}


<nav class="navbar navbar-expand navbar-dark bg-primary fw-bold  py-0">
    <div class="collapse navbar-collapse">

        <div class="navbar-nav justify-content-between align-items-center flex-grow-1 ">

            {% if exist_path('core:public.homepage') %}
                <a class="nav-link p-3 text-uppercase text-white{{ route == 'core:public.homepage' ? ' active' }}"
                   href="{{ path('core:public.homepage') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                    </svg>
                </a>
            {% endif %}

            {# <a class="nav-link rounded-3 px-3 text-white{{ route == 'pages:user.catalog.category' ? ' active'  }}" href="{{ path('pages:user.catalog.category') }}">Продукция</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'pages:user.about' ? ' active'  }}" href="{{ path('pages:user.about') }}">О компании</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'delivery:public.delivery' ? ' active' }}" href="{{ path('delivery:public.delivery') }}">доставка</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'pages:user.wholesale' ? ' active' }}" href="{{ path('pages:user.wholesale') }}">Опт</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'pages:user.guaranty' ? ' active' }}" href="{{ path('pages:user.guaranty') }}">Гарантия</a>
				<a class="nav-link rounded-3 px-3 text-white{{ route == 'pages:user.calc' ? ' active'  }}" href="{{ path('pages:user.calc') }}">Шинный калькулятор</a> #}

            {% for item in data %}

                <div class="dropdown">

                    {% set arr_path = item.path|json_decode|sort %}
                    {% set arr_path_filter = arr_path|filter(v => v.dropdown == true and (is_granted(v.role) or is_granted('ROLE_ADMIN'))) %}

                    {% if arr_path_filter|length %}

                        <div class="nav-link p-3 text-white dropdown-toggle" type="button"
                             data-bs-toggle="dropdown"
                             aria-expanded="false">
                            {{ item.name }}
                        </div>

                        <ul class="dropdown-menu p-2 dropdown-menu-center">
                            {% for path in arr_path_filter %}
                                {% if exist_path(path.href) != '#' %}
                                    <li>
                                        <a class="nav-link rounded-3 px-2 text-nowrap mb-1 {{ route == path.href ? ' active' }} {{ path.modal ? 'modal-link' }}"
                                           href="{{ path(path.href) }}"
                                                {% if path.modal %}
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modal"
                                                {% endif %}
                                        >
                                            {{ path.name }}
                                        </a>
                                    </li>
                                {% elseif path.href is null %}
                                    <li><h6 class="dropdown-header">{{ path.name }}</h6></li>
                                {% endif %}

                            {% endfor %}
                        </ul>

                    {% endif %}

                </div>

            {% endfor %}

            <div class="flex-grow-1 d-flex justify-content-end align-items-center">

                {% if baks_profile is defined %}

                    <button

                            class="btn btn-link btn-sm text-decoration-none"
                            id="user-menu"

                            data-bs-container="body"
                            data-bs-toggle="popover"
                            data-bs-placement="bottom"
                            data-bs-trigger_="onfocus"
                            data-bs-trigger="click"
                            {# data-bs-content="Bottom popover" #}
                            style="width: 50px;"
                    >

                    <span class="icon rounded-circle bg-contain lazy p-1"
                          style="width: 30px; height: 30px;"
                          data-bg="{{ baks_profile.user_profile_avatar is defined ? baks_profile.user_profile_avatar : '/assets/'~version~'/img/blank.svg' }}"
                    ></span>

                        {# <span class="small text-dark" style="width: 100px;">Личный кабинет</span> #}

                    </button>


                    {# title: function() {
return $('.select_box').html();
}, #}






                    <div id="user-menu-title" class="d-none">

                        <div class="dropdown">

                            <a class="btn w-100 text-dark text-decoration-none text-start"
                               href="{{ path('users-profile-user:user.index') }}"
                               role="button" data-bs-toggle="dropdown"
                               aria-expanded="false"
                            >
                                <div class="w-100 float-start d-flex align-items-center gap-3 text-nowrap">
                                    {{ baks_profile.user_profile_username is defined ? baks_profile.user_profile_username }}

                                    {# Тип профиля пользователя #}
                                    {% if baks_profile.user_profile_type is defined %}
                                        <span class="badge bg-light text-dark fw-bolder px-1 py-1">
                                            <small>{{ baks_profile.user_profile_type }}</small>
                                        </span>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if baks_profile.user_profile_contact is defined %}
                                        <div class="text-muted small">
                                            {{ baks_profile.user_profile_contact }}
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>

                    <div id="user-menu-content" class="d-none">
                        {% if app.user.administration %}
                            <ul class="leader list-group list-group-flush w-100 px-0">
                                <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 text-truncate rounded-5">
                                    <a href="{{ path('auth-email:user.edit') }}"
                                       class="text-decoration-none text-dark w-100"
                                       title="{{ 'page.edit'|trans({}, 'user.account') }}">
                                        {{ 'page.edit'|trans({}, 'user.account') }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 text-truncate rounded-5">
                                    <a class="text-decoration-none text-dark w-100"
                                       href="{{ path('users-profile-user:user.index') }}">
                                        Профили
                                    </a>
                                </li>
                            </ul>
                        {% endif %}

                        <li class="list-group">
                            <hr>
                        </li>

                        <ul class="leader list-group list-group-flush w-100">

                            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                                <a href="{{ path('auth-email:public.logout') }}"
                                   class="text-decoration-none text-dark w-100"
                                   title="Выход">
                                    Выход</a>
                            </li>

                        </ul>
                    </div>

                {% endif %}


                {% if baks_profile is defined %}

                    <div class="dropdown" style="min-width: 150px;">

                        <div class="nav-link p-3 text-white {{ baks_profile.user_profile_profiles is defined ? 'dropdown-toggle' }}"
                             type="button"
                             data-bs-toggle="dropdown"
                             aria-expanded="false">
                            {{ baks_profile.user_profile_username ?? null }}
                        </div>

                        {% if baks_profile.user_profile_profiles is defined %}

                            {% set authProfiles = baks_profile.user_profile_profiles|sort((a, b) => a.user_profile_username <=> b.user_profile_username) %}


                            <ul class="dropdown-menu p-2 dropdown-menu-center leader">

                                {% set separator = false %}

                                {# Личные профили пользователя #}

                                {% for profil in authProfiles %}

                                    {% if baks_profile.id is defined %}

                                        {% if baks_profile.id != profil.user_profile_id %}
                                            <li class="p-1 w-100 list-group-item rounded-5">
                                                <a class="d-block text-decoration-none w-100 px-1 text-nowrap"
                                                   href="{{ path('core:public.homepage', {'authority' : profil.user_profile_id }) }}">
                                                    {{ profil.user_profile_username }}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="p-1 w-100 disabled">
                                                <div class="px-1 text-nowrap text-muted fw-normal">
                                                    &bull; &nbsp; {{ profil.user_profile_username }}
                                                </div>
                                            </li>
                                        {% endif %}

                                        {% set separator = true %}

                                    {% endif %}

                                {% else %}

                                    <li class="p-1 w-100 list-group-item rounded-3">
                                        <a href='{{ path('users-profile-user:user.index') }}'
                                           class="d-block text-decoration-none w-100 px-2 text-nowrap text-secondary small ">
                                            + Добавить профиль
                                        </a>
                                    </li>

                                {% endfor %}



                                {% for link in authority %}

                                    {% if baks_profile.id is defined and baks_profile.id == link.authority %}
                                        {# <a href='{{ path('core:public.homepage', {'authority' : '_exit' }) }}'
                                       class="text-decoration-none text-muted small">
                                        <div class="w-100">{{ link.profile_username }}</div>
                                    </a> #}
                                    {% else %}

                                        {% if separator %}

                                            {% set separator = false %}

                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                        {% endif %}

                                        {% if exist_path('core:public.homepage') %}
                                            <li class="p-1 w-100 list-group-item rounded-5">
                                                <a href='{{ path('core:public.homepage', {'authority' : link.authority }) }}'
                                                   class="d-block text-decoration-none w-100 px-1 text-nowrap">
                                                    {{ link.authority_username }}
                                                </a>
                                            </li>
                                        {% endif %}

                                    {% endif %}

                                {% endfor %}

                            </ul>

                        {% endif %}


                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</nav>

